{% extends 'layout.html' %}

{% block content %}
<h1>Welcome to AZ-305: Design Identity Solutions</h1>
<br> 
<p>This Flask web app is hosted on Azure App Service as part of my practical learning for the AZ-305 certification.</p>
<p>It demonstrates real-world implementation of identity and access control using Azure AD, RBAC, and Azure Key Vault.</p>
<p>This project showcases secure application design aligned with Azure best practices, including:

<ul>
  <li>Azure AD Authentication</li>
  <li>Role-Based Access Control (RBAC)</li>
  <li>Managed Identity and Key Vault integration</li>
</ul>

</p>




{% endblock %}
