{% extends 'layout.html' %}

{% block content %}
<h1>Welcome: Let's learn about Design Identity Solutions</h1>
<br> 
<p>This Flask web app is hosted on Azure App Service as part of my practical learning for the AZ-305 certification.</p>
<p>It demonstrates real-world implementation of identity and access control using Azure AD, RBAC, and Azure Key Vault.</p>
<p>This project showcases secure application design aligned with Azure best practices, including:

    

<div style="text-align: center;"  >
  <ul style="display: inline-block; text-align: left; padding-left: 1.2em; font-size: 20px;">
    <li>Azure AD Authentication</li>
    <li>Role-Based Access Control (RBAC)</li>
    <li>Managed Identity and Key Vault integration</li>
  </ul>
</div>




</p>




{% endblock %}
